*{
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:rgb(243 244 246);
}
.contain{
    width:90vw;
    height:90vh;
    margin-left:3.5%;
    margin-top:5%;
    background-color: rgba(255, 255, 255,1);
    border-radius: 0.5rem;
    display: flex;
}
.text{
    font-weight: bold;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-left:4px;
}
.lien{
    position: absolute;
    top:70px;
    left:50%;
}
.lien a{
    margin-left: 12px;
    text-decoration: none;
    color:black;
}
.lien a img{
    height:15px
}
.sidebar{
    width:60%;
    height: 85%;
    
}
.active{
    border-bottom: 3px solid yellow;
    padding:auto,20px,auto,20px;
}
.salutation{
    font-size: 3rem;
    margin-left:4px;
 } 
 .conseille{
    font-size:1.5rem;
    margin-left:4px;
 }
.conseille{
  display: block;
 }
 .span1{
    font-size: 2rem;
    display: block;
    padding:16px 2px  ;
 }
 .span2{
    font-size: 2rem;
    padding:16px 4px;
 }
 .truc{
    margin-left: 20%;
 }
 .sidebar2 {
    width:40%;
    height:100%;
 }
 .sidebar2 img{
    width:460px;
    height:450px ;
    margin-top: 14%;
 }
 .text2{
    display: none;
 }
@media screen and (min-width:300px) and (max-width: 600px) {
    .lien{
        position: absolute;
        top:3%;
        left:10%;

    }
    .contain{
        height: 100vh;
        margin-top:0;
        width:100vw;
    }
    .lien a img{
        height:1px
    }
 .salutation{
    margin-top:95%;
    font-size: 14px;
 } 
 .conseille{
    font-size:15px;
 } 
 .contain{
    display: flex;
    flex-direction: column-reverse;
 }
 .sidebar2 img{
    width:90vw;
    margin-top: 25%;
    height: 50vh;
 }
 .sidebar{
position: absolute;
top:24%;   
height: 10vh; 
}
.text{
    display: none;
}
.text2{
    font-weight: bold;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-left:4px; 
}
}
@media screen and (min-width:600px) and (max-width: 820px) {
    .lien{
        position: absolute;
        top:3%;
        left:10%;

    }
    .salutation{
        margin-top:20px;
        font-size: 15px;
     }  
     .conseille{
        font-size:15px;
     } 
     .text{
        margin-bottom: 3px;
     } 
}
